<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rick</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <h1>Pie</h1>
  <div id="pie"></div>
  <script>
    var url = "/pie";
    // YOUR CODE HERE
    // Use d3 to fetch the json from your api
    Plotly.d3.json(url, function(error, data) {
      if (error) return console.warn(error);
      console.log(data);
      // create a pie chart with the api data
      var layout = {
        margin: {
          t: 0
        }
      }
      var PIE = document.getElementById('pie');
      Plotly.newPlot(PIE, data, layout);
    })
  </script>
</body>

</html>
