/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.legend{
  border: 1px solid #000;
  align-items: center;
  fill: #fff;
  font-size: 30px;
  background: rgb(89, 89, 89);
}
