.blue{
  color: blue;
}

.purple{
  color: purple;
}

.red{
  color: red;
}

.black-bg{
  background-color: black;
}

.fortypx{
  font-size: 40px;
}

.fat{
  font-weight: bold;
}

.tenpx{
  font-size: 10px;
}
